
.footer{
  background-color: var(--naranja2);
  color: var(--color-nav) ;
  font-size: 20px;
}
h4{
  font-size: 20px;
}
a{
  font-size: 25px;
  color: var(--color-nav) ;
}
a:hover{
  color:var(--color-nav-hover);
}

.container-fluid{
  min-height:0px;
}
