<footer  class="footer container-fluid p-0 m-0" >
    <!-- Grid container -->
      <!-- Section: Social media -->
      <div class="row m-0">

        <div class="col-12  col-md-4 col-lg-3 d-flex justify-content-center">
          <h4 class="p-2">Telf: 615 65 86 21</h4>
        </div>
        <div class="col-12  col-md-8 col-lg-6 d-flex justify-content-center">
          <h4 class="p-2 ">Email: clubdetenisjaime@gmail.com</h4>
        </div>
        <div class="col-12  col-md-12 col-lg-3 d-flex justify-content-center">
        <!-- Facebook -->
        <a
        class="btn btn-link btn-floating btn-lg "
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-facebook"></i
        ></a>

        <!-- Twitter -->
        <a
        class="btn btn-link btn-floating btn-lg"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-twitter"></i
        ></a>

        <!-- Instagram -->
        <a
        class="btn btn-link btn-floating btn-lg"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-instagram"></i
        ></a>
        </div>

      </div>
      <!-- Section: Social media -->
      <form novalidate [formGroup]="options" (ngSubmit)="onSubmit()" class="row m-0 p-0">
          <div class="col-12 col-md-6 d-flex justify-content-center position-relative mb-2 mb-md-0">
            <div id="nombre" class="row m-0 p-0 mb-2">
              <input  type="text" name="name" placeholder="Nombre y Apellidos" class="form-control col-12" #name formControlName="name" required [ngClass]="{'is-valid': !options.get('name')?.invalid, 'is-invalid': options.get('name')?.dirty && options.get('name')?.invalid}">
              <div class="col-12 pb-2 errores" *ngIf="options.get('name')?.dirty && this.options.get('name')?.errors">
                  {{errores()}}
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 d-flex justify-content-center position-relative">
            <div id="email" class="row m-0 p-0 mb-2">
            <input type="email" class="form-control col-12" name="Email" placeholder="Email" #email formControlName="email" required [ngClass]="{'is-valid': !options.get('email')?.invalid, 'is-invalid': options.get('email')?.dirty && options.get('email')?.invalid}">
            <div class="col-12 pb-2 errores" *ngIf="options.get('email')?.dirty && this.options.get('email')?.errors">
              {{erroresEmail()}}
            </div>
            </div>
          </div>

          <div class="col-12 col-md-8 d-flex justify-content-center position-relative">
            <div id="area" class="row m-0 p-0">
            <textarea  name="mensaje" placeholder="Mensaje" rows="5" class="form-control col-12" #mensaje required formControlName="mensaje" [ngClass]="{'is-valid': !options.get('mensaje')?.invalid, 'is-invalid': options.get('mensaje')?.dirty && options.get('mensaje')?.invalid}"></textarea>
            <div class="col-12 errores" *ngIf="options.get('mensaje')?.dirty && this.options.get('mensaje')?.errors">
              {{erroresMensaje()}}
            </div>
            </div>
          </div>

          <div id="divBoton" class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-start">
            <input id="boton" type="submit" value="Enviar Mensaje" [disabled]="options.invalid" class="btn btn-success">
          </div>
      </form>
      <!-- Copyright -->
        <div class="text-center">
          <p class="p-3 m-0">© 2022 Copyright: Club De Tenis Jaime, Carrer Blas Infante, 14, 03560 El Campello, Alacant</p>
        </div>
      <!-- Copyright -->

    <!-- Grid container -->
  </footer>
