
.footer{
  background-color: var(--naranja);
  color: var(--gris) ;
  font-size: 20px;
  font-weight: bold;
}
h4{
  font-size: 20px;
  font-weight: bold;
}
a{
  font-size: 25px;
  color: var(--gris) ;
}
a:hover{
  color:var(--gris1);
}

.container-fluid{
  min-height:0px;
}
