<footer class="footer container-fluid p-0 m-0" >
    <!-- Grid container -->
      <!-- Section: Social media -->
      <div class="row m-0">

        <div class="col-12  col-md-4 col-lg-3 d-flex justify-content-center">
          <h4 class="p-2">Telf: 615 65 86 21</h4>
        </div>
        <div class="col-12  col-md-8 col-lg-6 d-flex justify-content-center">
          <h4 class="p-2 ">Email: clubdetenisjaime@gmail.com</h4>
        </div>
        <div class="col-12  col-md-12 col-lg-3 d-flex justify-content-center">
        <!-- Facebook -->
        <a
        class="btn btn-link btn-floating btn-lg "
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-facebook"></i
        ></a>

        <!-- Twitter -->
        <a
        class="btn btn-link btn-floating btn-lg"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-twitter"></i
        ></a>

        <!-- Instagram -->
        <a
        class="btn btn-link btn-floating btn-lg"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-instagram"></i
        ></a>
        </div>

      </div>
      <!-- Section: Social media -->
      <form #formContacto="ngForm" (ngSubmit)="onSubmit()" class="row m-0 p-0">
          <div class="col-12 col-md-6 d-flex justify-content-center position-relative mb-2 mb-md-0">
            <div id="nombre" class="row m-0 p-0 mb-2">
              <input  type="text" name="nombre" placeholder="Nombre" minlength="5" class="form-control col-12" #nombreContacto="ngModel" [(ngModel)]="contacto.name" required [ngClass]="{'is-valid': !nombreContacto.invalid, 'is-invalid': nombreContacto.invalid}">
              <div class="invalid-feedback col-12 pb-2" *ngIf="nombreContacto.invalid && (nombreContacto.dirty || nombreContacto.touched)">
                <span *ngIf="nombreContacto.getError('minlength')">
                  Introduzca un nombre de pila con 5 caracteres mínimo
                </span>
                <span *ngIf="nombreContacto.getError('required')">
                  Introduzca un nombre de pila válido por favor
                </span>
              </div>
            </div>
          </div>


          <div class="col-12 col-md-6 d-flex justify-content-center position-relative">
            <div id="email" class="row m-0 p-0 mb-2">
            <input type="email" class="form-control col-12" name="email" placeholder="Email" #emailContacto="ngModel" [(ngModel)]="contacto.email" required [ngClass]="{'is-valid': !emailContacto.invalid, 'is-invalid': emailContacto.invalid}" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
            <div class="invalid-feedback col-12 pb-2" *ngIf="emailContacto.invalid && (emailContacto.dirty || emailContacto.touched)">
              <span *ngIf="emailContacto.getError('required')">
                Introduzca un correo electrónico válido por favor.
              </span>
              <span *ngIf="emailContacto.errors && emailContacto.getError('pattern')">
                El correo electrónico no sigue el formato correcto. Sigue este ejemplo: anartz@gmail.com
              </span>
            </div>
            </div>
          </div>

          <div class="col-12 col-md-8 d-flex justify-content-center position-relative">
            <div id="area" class="row m-0 p-0">
            <textarea  name="mensaje" placeholder="Mensaje" rows="5" class="form-control col-12" #mensajeContacto="ngModel" [(ngModel)]="contacto.mensaje" required [ngClass]="{'is-valid': !mensajeContacto.invalid, 'is-invalid': mensajeContacto.invalid}" maxlength="255" minlength="20"></textarea>
            <div class="invalid-feedback col-12" *ngIf="mensajeContacto.invalid && (mensajeContacto.dirty || mensajeContacto.touched)">
              <span *ngIf="mensajeContacto.getError('minlength')">
                Introduzca un mensaje con 20 caracteres mínimo
              </span>
              <span *ngIf="mensajeContacto.getError('required')">
                Introduzca un mensaje válido por favor
              </span>
            </div>
            </div>
          </div>

          <div id="divBoton" class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-start">
            <input id="boton" type="submit" value="Enviar Mensaje" [disabled]="!formContacto.valid" class="btn btn-success">
          </div>
      </form>
      <!-- Copyright -->
        <div class="text-center">
          <p class="p-3 m-0">© 2022 Copyright: Club De Tenis Jaime, Carrer Blas Infante, 14, 03560 El Campello, Alacant</p>
        </div>
      <!-- Copyright -->

    <!-- Grid container -->
  </footer>
