
form{
    width: 50%;
}
.container-fluid{
    background-color: var(--gris);    
}
input:focus {
  box-shadow: inset 0 0 1px var(--naranja),0 0 8px var(--naranja);
}
textarea:focus {
  box-shadow: inset 0 0 1px var(--naranja),0 0 8px var(--naranja);
}
.reservas{
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}
  .reservas table {
    border-collapse: collapse; 
    text-align: center; 
    width: 100%;
    min-width: 100%;
    table-layout: fixed;
  }
  .reservas table td, .reservas table th {
    padding: 4px 4px;
    border: 1px solid var(--gris);
  }
  .reservas table thead th {
    background-color:var(--naranja1); color:var(--gris); font-size: 16px; font-weight: bold;
  
  }
  
  .reservas table tbody tr td {
    color: var(--gris); font-size: 14px;
    background-color: var(--naranja2);
    font-weight: bold;
  }
  
  .reservas table tbody td a:hover{
    font-size: 18px;
  }
.mensaje{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
}
::ng-deep .tooltip {
  background-color: var(--naranja);
  border-radius: 6px;
  position: relative;
  
}
  @media screen and (max-width: 768px)  {
    form{
        width: 60%;
    }

  }

  @media screen and (max-width: 576px)  {
    form{
        width: 80%;
    }

  }
  
  ::ng-deep .ngx-pagination .current{
    color: black !important;
    background: none !important;
  }
  
  ::ng-deep .ngx-pagination{
    margin: 0px !important;
  padding:0px !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  text-align: center !important;
  }
  
  ::ng-deep .ngx-pagination a{
    color: white !important;
    text-decoration: none !important;
  }
  
  ::ng-deep .ngx-pagination a:hover {
    background: black !important;
  }