

.container-fluid{
    background-color: var(--azul);    
}


.reservas{
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}
  .reservas table {
    border-collapse: collapse; 
    text-align: center; 
    width: 100%;
    min-width: 100%;
    table-layout: fixed;
  }
  .reservas table td, .reservas table th {
    padding: 4px 4px;
    border: 1px solid var(--azul1);
  }
  .reservas table thead th {
    background-color:var(--azul1); color:white; font-size: 16px; font-weight: bold;
  
  }
  
  .reservas table tbody tr td {
    color: var(--azul1); font-size: 14px;
    font-weight: bold;
  }
  .reservas table tbody td a:hover{
    font-size: 18px;
  }
  .reservas table tbody tr:nth-child(odd){
    background-color: var(--naranja1);
  }
  .reservas table tbody tr:nth-child(even){
    background-color: var(--naranja);
  }
.mensaje{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
}
::ng-deep .tooltip {
  background-color: var(--naranja);
  border-radius: 6px;
  position: relative;
  
}
  
::ng-deep .ngx-pagination .current{
  color: black !important;
  background: none !important;
}

::ng-deep .ngx-pagination{
  margin: 0px !important;
padding:0px !important;
padding-top: 2% !important;
padding-bottom: 2% !important;
text-align: center !important;
}

::ng-deep .ngx-pagination a{
  color: white !important;
  text-decoration: none !important;
}

::ng-deep .ngx-pagination a:hover {
  background: black !important;
}