.container-fluid{
    background-color: var(--gris);
  }
  #img{
    width: 100%;
  }
  .reservas{
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
  }
  .reservas table {
    border-collapse: collapse; text-align: center; width: 100%; min-width: 100%;
    table-layout: fixed;
  
  }
  .reservas table td, .reservas table th {
    padding: 4px 4px;
    border: 1px solid var(--gris);
  }
  .reservas table thead th {
    background-color:var(--naranja1); color:var(--gris); font-size: 16px; font-weight: bold;
  
  }
  
  .reservas table tbody tr td {
    color: var(--gris); font-size: 14px;
    background-color: var(--naranja2);
    font-weight: bold;
  }
  
  .reservas table tbody td a:hover{
    font-size: 18px;
  }
  
  .mensaje{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
  }
  
  ::ng-deep .tooltip {
  background-color: var(--naranja);
  border-radius: 6px;
  position: relative;
  
  }
  ::ng-deep .ngx-pagination .current{
    color: black !important;
    background: none !important;
  }
  
  ::ng-deep .ngx-pagination{
    margin: 0px !important;
  padding:0px !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  text-align: center !important;
  }
  
  ::ng-deep .ngx-pagination a{
    color: white !important;
    text-decoration: none !important;
  }
  ::ng-deep .ngx-pagination a:hover {
    background: black !important;
  }
  .titulo{
    display: inline-block;
  }
  .datagrid{
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
  }
  .datagrid table {
    border-collapse: collapse; text-align: center; width: 100%; min-width: 100%;
    table-layout: fixed;
  
  }
  .datagrid table td, .datagrid table th {
    padding: 4px 4px;
    border: 1px solid var(--gris);
  }
  .datagrid table thead th {
    background-color:var(--naranja1); color:var(--gris); font-size: 16px; font-weight: bold;
  
  }
  
  .datagrid table tbody tr td {
    color: var(--gris); font-size: 14px;
    background-color: var(--naranja2);
    font-weight: bold;
  }
  .datagrid table tbody td a{
    font-size: 18px;
  }
  
  .datagrid table tbody td a:hover{
    font-size: 22px;
  }

  .card-footer{
    color: var(--naranja);
    font-weight: bold;
  }
  #a{
    color: var(--naranja);
    text-decoration: none;
  }
  
  #a:hover{
    color: var(--naranja1);
  }

  