<mat-dialog-content>
    <h1 *ngIf="!modificar">AÑADIR TORNEO</h1>
    <h1 *ngIf="modificar">MODIFICAR TORNEO</h1>
    <div class="d-flex justify-content-center">
    <form novalidate [formGroup]="nuevapista" (ngSubmit)="onSubmitPista()" class="row m-0 p-0">
      <div class="col-12 d-flex justify-content-center position-relative p-2">
        <div class="row p-0 m-0 w-100">
          <input type="text" name="name" placeholder="Nombre" class="form-control col-12" #name formControlName="name" required [ngClass]="{'is-valid': !nuevapista.get('name')?.invalid, 'is-invalid': nuevapista.get('name')?.dirty && nuevapista.get('name')?.invalid}">
          <div class="col-12 errores" *ngIf="nuevapista.get('name')?.dirty && this.nuevapista.get('name')?.errors">
            {{util.erroresTorneo(nuevapista)}}
          </div>
        </div>

      </div>

      <div class="col-12 d-flex justify-content-center position-relative p-2">
        <div class="row p-0 m-0 w-100">
        <input type="text" name="descripcion" placeholder="Localidad" class="form-control col-12" #descripcion required formControlName="descripcion" [ngClass]="{'is-valid': !nuevapista.get('descripcion')?.invalid, 'is-invalid': nuevapista.get('descripcion')?.dirty && nuevapista.get('descripcion')?.invalid}">
        <div class="col-12 errores" *ngIf="nuevapista.get('descripcion')?.dirty && nuevapista.get('descripcion')?.errors">
          {{util.erroresLocalidad(nuevapista)}}
        </div>
        </div>
      </div>

      <label for="fecha">Fecha del torneo:</label>
    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <div class="row p-0 m-0 w-100">
      <input type="date" name="fecha" class="form-control col-12" #fecha formControlName="fecha" required [ngClass]="{'is-valid': !nuevapista.get('fecha')?.invalid, 'is-invalid': nuevapista.get('fecha')?.dirty && nuevapista.get('fecha')?.invalid}">
      <div class="col-12 errores" *ngIf="nuevapista.get('fecha')?.dirty && this.nuevapista.get('fecha')?.errors">
        {{util.erroresFechaTorneo(nuevapista)}}
      </div>
      </div>
    </div>

      <div class="col-12 d-flex justify-content-center position-relative pt-2">
        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>¡Inserte la imagen aquí!</ngx-dropzone-label>
          <ngx-dropzone-image-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
      <div class="d-flex justify-content-center">
        <div class="col-12 errores text-center mb-4 w-50" *ngIf="nuevapista.get('imagen')?.errors">Campo requerido</div>
      </div>
      
      <div  class="col-12 d-flex justify-content-center pt-2">
        <input *ngIf="!modificar"  type="submit" value="Añadir" [disabled]="nuevapista.invalid" class="btn">
        <input *ngIf="modificar" type="submit" value="Modificar" [disabled]="nuevapista.invalid" class="btn">
        <button class="btn ms-2" mat-dialog-close>Cancelar</button>
      </div>
    </form>
    </div>
</mat-dialog-content>