<ng-template [ngIf]="!user">
<div class="container-fluid d-flex align-items-center justify-content-center">
  <div >
    <h1 id="ti">INICIAR SESIÓN</h1>
    <div class="d-flex justify-content-center">
    <form novalidate [formGroup]="options" (ngSubmit)="onSubmit()" class="row m-0 p-0">
      <div class="col-12 d-flex justify-content-center position-relative p-2">
        <div class="row p-0 m-0 w-100">
          <input type="email" class="form-control col-12" name="email" placeholder="Email" #email required formControlName="email" [ngClass]="{'is-valid': !options.get('email')?.invalid, 'is-invalid': options.get('email')?.dirty && options.get('email')?.invalid}" >
          <div class="col-12 errores" *ngIf="options.get('email')?.dirty && this.options.get('email')?.errors">
            {{utils.erroresEmailLogin(options)}}
          </div>
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center position-relative p-2">
        <div class="row p-0 m-0 w-100">
        <div class="grupoInput col-12 m-0 p-0">
          <input id="mostrar" type="password" name="password" placeholder="Contraseña" class="form-control" #password formControlName="password" required [ngClass]="{'is-valid': !options.get('password')?.invalid, 'is-invalid': options.get('password')?.dirty && options.get('password')?.invalid}">
          <i  (click)="mostrarPassword('mostrar')" class="bi bi-eye-slash-fill"></i>
        </div>
        <div class="col-12 errores" *ngIf="options.get('password')?.dirty && this.options.get('password')?.errors">
          {{utils.erroresPassword(options)}}
        </div>
        </div>
      </div>

      <div class="col-12 p-2">
      <div class="form-check">
        <label class="form-check-label">
          <input id="check" class="form-check-input" type="checkbox" name="remember"> Mantener sesion iniciada
        </label>
      </div>
      </div>
      <div class="col-12 p-2">
        <a id="a" class="nav-link" routerLink="/registro">¿Registrarse?</a>
      </div>

      <div  class="col-12 d-flex justify-content-center">
        <input  type="submit" value="Iniciar Sesión" [disabled]="options.invalid" class="btn">
      </div>
    </form>

    </div>
  </div>
</div>
</ng-template>

<ng-template [ngIf]="user && user.tipo != 0">
    <div class="container-fluid">
      <div>
        <h1 class="titulo">MI PERFIL</h1>
        <button id="cerrar" class="btn float-end" (click)="logout()" >Cerrar Sesión</button>
      </div>

      <div class="datagrid text-center">
        <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>DNI</th>
            <th>Movil</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span >{{user.name}}</span></td>
            <td><span>{{user.email}}</span></td>
            <td><span >{{user.dni}}</span></td>
            <td><span >{{user.movil}}</span></td>
          </tr>
        </tbody>
        </table>
        <button class="btn mt-3 ms-2 float-end" (click)="abrirModal()">Modificar Contraseña</button>
        <button class="btn mt-3 float-end" (click)="abrirEditar()">Editar Perfil</button>

      </div>

      <div *ngIf="verReservas" class="mt-5">
        <h1 class="titulo">MIS RESERVAS</h1>

        <div class="reservas text-center">
          <table>
          <thead>
            <tr>
              <th>Pista</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reservas | paginate: {id:'r',itemsPerPage:5,currentPage:page}">
              <td class="mensaje" matTooltip="{{reserva.nombre}}"
              matTooltipClass="tooltip"><span >{{reserva.nombre}}</span></td>
              <td class="mensaje" matTooltip="{{reserva.fecha | date: 'dd-MM-Y  HH:mm:ss'}}"
              matTooltipClass="tooltip"><span>{{reserva.fecha | date:" dd-MM-Y  HH:mm:ss"}}</span></td>
            </tr>
          </tbody>
          </table>
          <pagination-controls id="r" *ngIf="reservas.length > 5"
        (pageChange)="pageChanged($event)"
        ></pagination-controls>
        </div>
      </div>

      <div *ngIf="verTorneos" class="pb-2">
        <h1 class="titulo">MIS INSCRIPCIONES</h1>

        <div class="reservas text-center">
          <table>
          <thead>
            <tr>
              <th>Torneo</th>
              <th>Localidad</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let torneo of mistorneos | paginate: {id:'t',itemsPerPage:5,currentPage:pageTorneos}">
              <td class="mensaje" matTooltip="{{torneo.name}}"
              matTooltipClass="tooltip"><span >{{torneo.name}}</span></td>
              <td class="mensaje" matTooltip="{{torneo.localidad}}"
              matTooltipClass="tooltip"><span>{{torneo.localidad}}</span></td>
              <td class="mensaje" matTooltip="{{torneo.fecha | date:' dd-MM-Y'}}"
              matTooltipClass="tooltip"><span>{{torneo.fecha | date:" dd-MM-Y"}}</span></td>
            </tr>
          </tbody>
          </table>
          <pagination-controls id="t" *ngIf="mistorneos.length > 5"
        (pageChange)="pageTorneos = $event"
        ></pagination-controls>
        </div>
      </div>

      <div *ngIf="verClases" class="pb-2">
        <h1 class="titulo">MIS CLASES</h1>

        <div class="reservas text-center">
          <table>
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Pista</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clase of misclases | paginate: {id:'c',itemsPerPage:5,currentPage:pageClases}">
              <td class="mensaje" matTooltip="{{clase.fecha | date:' dd-MM-Y  HH:mm:ss'}}"
              matTooltipClass="tooltip"><span>{{clase.fecha | date:" dd-MM-Y  HH:mm:ss"}}</span></td>
              <td class="mensaje" matTooltip="{{clase.pista}}"
              matTooltipClass="tooltip"><span>{{clase.pista}}</span></td>
            </tr>
          </tbody>
          </table>
          <pagination-controls id="c" *ngIf="misclases.length > 5"
        (pageChange)="pageClases = $event"
        ></pagination-controls>
        </div>
      </div>
    </div>
</ng-template>

<ng-template [ngIf]="user && user.tipo == 0">
  <div class="container-fluid">
    <div>
      <div>
        <h1 class="titulo">MI PERFIL</h1>
        <button id="cerrar" class="btn float-end" (click)="logout()" >Cerrar Sesión</button>
      </div>

      <div class="datagrid text-center">
        <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>DNI</th>
            <th>Movil</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span >{{user.name}}</span></td>
            <td><span>{{user.email}}</span></td>
            <td><span >{{user.dni}}</span></td>
            <td><span >{{user.movil}}</span></td>
          </tr>
        </tbody>
        </table>
        <button class="btn mt-3 ms-2 float-end" (click)="abrirModal()">Modificar Contraseña</button>
        <button class="btn mt-3 float-end" (click)="abrirEditar()">Editar Perfil</button>

      </div>
    </div>
    <div class="float-end">
      <h1 class="titulo">USUARIOS</h1>
      <div class="usuarios text-center">
        <table>
        <thead>
          <tr>
            <th colspan="2">Nombre</th>
            <th colspan="2">Correo</th>
            <th colspan="2">DNI</th>
            <th colspan="2">Movil</th>
            <th colspan="1">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios | paginate: {id:'u',itemsPerPage:5,currentPage:page}; let i = index">
            <td colspan="2" class="mensaje" matTooltip="{{usuario.name}}"
            matTooltipClass="tooltip"><span>{{usuario.name}}</span></td>
            <td colspan="2" class="mensaje"  matTooltip="{{usuario.email}}"
            matTooltipClass="tooltip"><span >{{usuario.email}}</span></td>
            <td colspan="2" class="mensaje" matTooltip="{{usuario.dni}}"
            matTooltipClass="tooltip"><span >{{usuario.dni}}</span></td>
            <td colspan="2" class="mensaje" matTooltip="{{usuario.movil}}"
            matTooltipClass="tooltip"><span >{{usuario.movil}}</span></td>
            <td colspan="1"><a type="button" (click)="borrarUsuario(usuario.id,i)"><i class="bi bi-trash3 d-inline me-1"></i></a></td>
          </tr>
        </tbody>
        </table>
        <pagination-controls id="u" *ngIf="usuarios.length > 5"
        (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>

</ng-template>
