
#ti{
  padding-top: 5%;
}
.titulo{
  display: inline-block;
}
#cerrar{
  margin-top: 2%;
}
::ng-deep .ngx-pagination .current{
  color: black !important;
  background: none !important;
}

::ng-deep .ngx-pagination{
  margin: 0px !important;
  margin-top: 2% !important;
  padding:0px !important;
  padding-bottom: 2% !important;
  text-align: center !important;
}

::ng-deep .ngx-pagination a{
  color: white !important;
}
form{
    width: 50%;
  }

.container-fluid{
  background-color: var(--gris);
}

#a{
  width: 27%;
  color: var(--naranja);
}

#a:hover{
  color: var(--naranja1);

}
.datagrid table {
  border-collapse: collapse; text-align: center; width: 100%;

}
.datagrid table td, .datagrid table th {
  padding: 4px 10px;
  border: 1px solid var(--gris);
}
.datagrid table thead th {
  background-color:var(--naranja1); color:var(--gris); font-size: 16px; font-weight: bold;

}

.datagrid table tbody tr td {
  color: var(--gris); font-size: 14px;
  background-color: var(--naranja2);
  font-weight: bold;
}
.datagrid table tbody td a{
  margin-left: 2%;
}

.datagrid table tbody td a:hover{
  font-size: 18px;
}

.input{
  width: 70%;
  margin: 0px;
}

.reservas table {
  border-collapse: collapse; text-align: center; width: 100%;

}
.reservas table td, .reservas table th {
  padding: 4px 4px;
  border: 1px solid var(--gris);
}
.reservas table thead th {
  background-color:var(--naranja1); color:var(--gris); font-size: 16px; font-weight: bold;

}

.reservas table tbody tr td {
  color: var(--gris); font-size: 14px;
  background-color: var(--naranja2);
  font-weight: bold;
}
.reservas table tbody td a{
  margin-left: 2%;
}

.reservas table tbody td a:hover{
  font-size: 18px;
}

.usuarios{
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}

.usuarios table {
  border-collapse: collapse; 
  text-align: center; 
  width: 100%;
  min-width: 100%;
  table-layout: fixed;
}
.usuarios table td, .usuarios table th {
  padding: 4px 4px;
  border: 1px solid var(--gris);
}
.usuarios table thead th {
  background-color:var(--naranja1); color:var(--gris); font-size: 16px; font-weight: bold;

}

.usuarios table tbody tr td {
  color: var(--gris); font-size: 14px;
  background-color: var(--naranja2);
  font-weight: bold;
}

.usuarios table tbody td a:hover{
  font-size: 18px;
}
.mensaje{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
}
::ng-deep .tooltip {
  background-color: var(--naranja);
  border-radius: 6px;
  position: relative;
  
}

@media screen and (max-width: 525px) {
  .datagrid table {
    display: flex;
    border: 0px solid ;
  }
  .datagrid table thead{
    width: 25%;

  }
  .datagrid table tbody{
    width: 75%;

  }
  .datagrid table tr {
    display: flex;
    flex-direction: column;

  }

}


@media screen and (max-width: 768px)  {
  form{
      width: 60%;
  }

}

@media screen and (max-width: 576px)  {
  form{
      width: 80%;
  }

}

