
<mat-dialog-content>
    <h1>Cambiar Contraseña</h1>
    <form novalidate [formGroup]="options" (ngSubmit)="onSubmit()" class="row m-0 p-0">
        <div class="col-12 d-flex justify-content-center position-relative p-2">
            <div class="row p-0 m-0 w-100">
            <div class="grupoInput col-12 m-0 p-0">
              <input id="mostrar" type="password" name="password2" placeholder="Contraseña actual" class="form-control" #password2 formControlName="password2" required [ngClass]="{'is-valid': !options.get('password2')?.invalid, 'is-invalid': options.get('password2')?.dirty && options.get('password2')?.invalid}">
              <i  (click)="mostrarPassword('mostrar')" class="bi bi-eye-slash-fill"></i>
            </div>
            <div class="col-12 errores" *ngIf="options.get('password2')?.dirty && this.options.get('password2')?.errors">
              {{util.erroresPassword2(options)}}
            </div>
            </div>
          </div>
        
        <div class="col-12 d-flex justify-content-center position-relative p-2">
            <div class="row p-0 m-0 w-100">
            <div class="grupoInput col-12 m-0 p-0">
              <input id="mostrar1" type="password" name="password" placeholder="Nueva Contraseña" class="form-control" #password formControlName="password" required [ngClass]="{'is-valid': !options.get('password')?.invalid, 'is-invalid': options.get('password')?.dirty && options.get('password')?.invalid}">
              <i  (click)="mostrarPassword('mostrar1')" class="bi bi-eye-slash-fill"></i>
            </div>
            <div class="col-12 errores" *ngIf="options.get('password')?.dirty && this.options.get('password')?.errors">
              {{util.erroresPassword(options)}}
            </div>
            </div>
        </div>
      
          
        <div  class="col-12 d-flex justify-content-center p-3">
          <input  type="submit" value="Cambiar" [disabled]="options.invalid" class="btn">
          <button class="btn ms-2" mat-dialog-close>Cancelar</button>
        </div>
    </form>
</mat-dialog-content>