

h2{
  color: var(--naranja);
}
.titulo{
  display: inline-block;
}
h3{
  color: var(--naranja);
  font-weight: bold;
}
#img{
  width: 100%;
}
label{
  color: var(--naranja);
}
form{
  width: 90%;
}
#form{
  width: 40%;
}


.container-fluid{
  background-color: var(--azul);
}
::ng-deep .disabled-day{
  opacity: 0.5;
  pointer-events: none ;
}
::ng-deep .disabled{
  pointer-events:  none;
  opacity: 0.5;
}
a{
  color: var(--naranja);
}

a:hover{
  color: var(--naranja1);
}

#link{
width: 145px;
}

.reservas{
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}
.reservas table {
  border-collapse: collapse; text-align: center; width: 100%; min-width: 100%;
  table-layout: fixed;

}
.reservas table td, .reservas table th {
  padding: 4px 4px;
  border: 1px solid var(--azul1);
}
.reservas table thead th {
  background-color:var(--azul1); color:white; font-size: 16px; font-weight: bold;

}

.reservas table tbody tr td {
  color: var(--azul1); font-size: 14px;
  font-weight: bold;
}

.reservas table tbody td a:hover{
  font-size: 18px;
}
.reservas table tbody tr:nth-child(odd){
  background-color: var(--naranja1);
}
.reservas table tbody tr:nth-child(even){
  background-color: var(--naranja);
}
.mensaje{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
}

::ng-deep .tooltip {
background-color: var(--naranja);
border-radius: 6px;
position: relative;

}

.datagrid{
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}
.datagrid table {
  border-collapse: collapse; text-align: center; width: 100%; min-width: 100%;
  table-layout: fixed;

}
.datagrid table td, .datagrid table th {
  padding: 4px 4px;
  border: 1px solid var(--azul1);
}
.datagrid table thead th {
  background-color:var(--azul1); color:white; font-size: 16px; font-weight: bold;

}

.datagrid table tbody tr td {
  color: var(--azul1); font-size: 14px;
  font-weight: bold;
}
.datagrid table tbody td a{
  font-size: 18px;
}
.datagrid table tbody tr:nth-child(odd){
  background-color: var(--naranja1);
}
.datagrid table tbody tr:nth-child(even){
  background-color: var(--naranja);
}
.datagrid table tbody td a:hover{
  font-size: 22px;
}
::ng-deep .ngx-pagination .current{
  color: black !important;
  background: none !important;
}

::ng-deep .ngx-pagination{
  margin: 0px !important;
  padding:0px !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  text-align: center !important;
}

::ng-deep .ngx-pagination a{
  color: white !important;
  text-decoration: none !important;
}

::ng-deep .ngx-pagination a:hover {
  background: black !important;
}

.card{
  min-width: 23vw !important;
  margin-bottom: 3%;
}

@media screen and (max-width: 576px){
  .card{
    min-width: 93vw !important;
  }
}

@media screen and  (min-width: 576px)and (max-width: 768px){
  .card{
    min-width: 46vw !important;
  }
}

@media screen and  (min-width: 768px) and (max-width: 992px){
  .card{
    min-width: 31vw !important;
  }
}

@media screen and (max-width: 768px)  {
  #form{
      width: 60%;
  }

}

@media screen and (max-width: 576px)  {
  #form{
      width: 80%;
  }

}

