h1{
  font-weight: bold;
  color: var(--main-bg-color);
  text-align: center;
  padding: 2%;
  text-shadow: 1px 1px 1px black;

}
form{
  width: 50%;
}
.errores{
  color: red;
  text-shadow: 1px 1px 1px black;
  padding-top: 1%;
}

.btn{
  background-color: var(--main-bg-color);
  color: white;
  border: 1px solid;
  border-color: var(--naranja3);
}

.btn:hover{
  background-color: var(--naranja2);
}
.btn:focus {
  box-shadow: 0 0 0 0 ;
}
.container-fluid{
  background-color: var(--color-nav-hover);
  min-height: 62vh;
}
::ng-deep .disabled{
  opacity: 0.5;
  pointer-events: none ;
}
a{
  color: var(--main-bg-color);
  text-shadow: 1px 1px 1px black;
}

a:hover{
  color: var(--naranja3);
  text-shadow: 1px 1px 1px black;
}

#link{
width: 31%;
}
