<div class="container-fluid">
  <h1>FORMULARIO INSCRIPCIÓN</h1>
  <div class="d-flex justify-content-center">
  <form novalidate #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)" class="row m-0 p-0">
    <h2>DATOS PERSONALES</h2>
    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <div class="row p-0 m-0 w-100">
        <input type="text" name="nombre" placeholder="Nombre" class="form-control col-12" minlength="5" #nombreUsuario="ngModel" [(ngModel)]="usuario.name" required [ngClass]="{'is-valid': !nombreUsuario.invalid, 'is-invalid': nombreUsuario.invalid}">
        <div class="invalid-feedback col-12 " *ngIf="nombreUsuario.invalid && (nombreUsuario.dirty || nombreUsuario.touched)">
          <span *ngIf="nombreUsuario.getError('minlength')">
            Introduzca un nombre de pila con 5 caracteres mínimo
          </span>
          <span *ngIf="nombreUsuario.getError('required')">
            Introduzca un nombre de pila válido por favor
          </span>
        </div>
      </div>

    </div>

    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <div class="row p-0 m-0 w-100">
        <input type="email" class="form-control col-12" name="email" placeholder="Email" #emailUsuario="ngModel" [(ngModel)]="usuario.email" required [ngClass]="{'is-valid': !emailUsuario.invalid, 'is-invalid': emailUsuario.invalid}" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
        <div class="invalid-feedback col-12 pb-2" *ngIf="emailUsuario.invalid && (emailUsuario.dirty || emailUsuario.touched)">
          <span *ngIf="emailUsuario.getError('required')">
            Introduzca un correo electrónico válido por favor.
          </span>
          <span *ngIf="emailUsuario.errors && emailUsuario.getError('pattern')">
            El correo electrónico no sigue el formato correcto. Sigue este ejemplo: anartz@gmail.com
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <input type="text" name="dni" placeholder="DNI" class="form-control" #dniUsuario="ngModel" [(ngModel)]="usuario.dni" required>
      <span class="position-absolute" style="color: red;" *ngIf="dniUsuario.touched && !dniUsuario.valid">
        El dni es obligatorio
      </span>
    </div>

    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <input type="text" name="movil" placeholder="Movil" class="form-control" #movilUsuario="ngModel" [(ngModel)]="usuario.movil" required>
      <span class="position-absolute" style="color: red;" *ngIf="movilUsuario.touched && !movilUsuario.valid">
        El Movil es obligatorio
      </span>
    </div>

    <label for="fecha">Fecha de nacimiento:</label>
    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <input type="date" name="fecha" class="form-control" #fechaUsuario="ngModel" [(ngModel)]="usuario.feha" required>
      <span class="position-absolute" style="color: red;" *ngIf="fechaUsuario.touched && !fechaUsuario.valid">
        La fecha es obligatoria
      </span>
    </div>

    <div class="col-12 d-flex justify-content-flex-start position-relative p-2">
      <label class="me-2">Sexo:</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="mujer" name="sexo" value="mujer" #sexoUsuario="ngModel" [(ngModel)]="usuario.sexo" required>Mujer
        <label class="form-check-label" for="mujer"></label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="hombre" name="sexo" value="hombre" #sexoUsuario="ngModel" [(ngModel)]="usuario.sexo" required>Hombre
        <label class="form-check-label" for="hombre"></label>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <input type="password" name="password" placeholder="Contraseña" class="form-control" #passwordUsuario="ngModel" [(ngModel)]="usuario.password" required>
      <span class="position-absolute" style="color: red;" *ngIf="passwordUsuario.touched && !passwordUsuario.valid">
        La contraseña es obligatoria
      </span>
    </div>

    <div class="col-12 d-flex justify-content-center position-relative p-2">
      <input type="password" name="password2" placeholder="Confirmar Contraseña" class="form-control" #password2="ngModel" [(ngModel)]="password" required>
      <span class="position-absolute" style="color: red;" *ngIf="password2.touched && passwordUsuario !=password2 ">
        Las contraseñas no son iguales
      </span>
    </div>


    <div  class="col-12 d-flex justify-content-center p-3">
      <input  type="submit" value="Registrarse" [disabled]="!formContacto.form.valid" class="btn btn-success">
    </div>
  </form>

  </div>
</div>
