<div class="container-fluid p-0">
    <h1>PRESENTACIÓN</h1>
    <p class="ms-4 me-4">
        Nuestro club es un club de tenis en el que alrededor de 700 personas disfrutan de sus instalaciones: 4 pistas de resina, 2 pistas de tierra batida, los vestuarios, la recepción, las máquinas de pelotas y de bebidas, etc.    
    </p>
    <p class="ms-4 me-4">
        Cada día, decenas de adultos disfrutan de sus partidos individuales y dobles, o perfeccionando su nivel en las clases de adultos, e incluso, personas de edad avanzada llenan nuestras pistas con partidos de dobles por las mañanas.
    </p>
    <p class="ms-4 me-4">
        Tenemos una numerosa escuela de tenis (minitenis, tenis base y escuela de competición), tanto de niños y niñas como de adultos en diferentes franjas horarias, que se adecuan a las necesidades de los socios y no-socios que las demanden.
    </p>
    <p class="ms-4 me-4">
        Pero no todo es deporte en nuestro club, en septiembre, por ejemplo, en el día de las paellas, los socios y socias disfrutan de un día de convivencia en el que se cocinan al aire libre las paellas y comemos bajo la sombra de los pinos disfrutando de la buena compañía.
    </p>
    <h1>INSTALACIONES</h1>
    <div class="row m-0">
        <div class="col col-12 col-md-4 d-flex justify-content-center align-items-center">
            <ul>
                <li>4 pistas de resina</li>
                <li>2 pistas de tierra</li>
                <li>Vestuarios</li>
                <li>Recepción</li>
            </ul>
        </div>
        <div class="col col-12 col-md-8 p-2">
 <!-- Carousel -->
 <div id="demo" class="carousel slide" data-bs-ride="carousel">
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/pistas.jpg" alt="Pistas de resina" class="img-fluid w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/img/tierra.jpg" alt="Pistas de tierra" class="img-fluid w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/img/vestuarios.jpg" alt="Vestuarios" class="img-fluid w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/img/recepcion.jpg" alt="Recepción" class="img-fluid w-100 ">
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
        </div>

    </div>
</div>