<nav id="nav" class="navbar navbar-expand-md p-2">
  <div class="container-fluid">
    <a class="navbar-brand" id="logo" routerLink="home"><img src="assets/img/logo.png" alt="Club de tenis jaime logo" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span ><i class="bi bi-menu-button-wide"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav flex">
        <li class="nav-item">
          <a class="nav-link" routerLink="club" [routerLinkActive]="'activado'">El club</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="torneos" [routerLinkActive]="'activado'">Torneos</a>
        </li>
        <li class="nav-item ">
          <ng-template [ngIf]="user" [ngIfElse]="userexiste">
            <a class="nav-link" routerLink="registro" [routerLinkActive]="'activado'">Reservar</a>
          </ng-template>
          <ng-template #userexiste>
            <a class="nav-link" routerLink="registro" [routerLinkActive]="'activado'">Registro</a>
          </ng-template>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="socios" [routerLinkActive]="'activado'">Socios</a>
        </li>
        <li class="nav-item">
          <ng-template [ngIf]="user" [ngIfElse]="userexist">
            <a class="nav-link" routerLink="sesion" [routerLinkActive]="'activado'"><i class="bi bi-person d-inline me-1"></i>Mi perfil</a>
          </ng-template>
          <ng-template #userexist>
            <a class="nav-link" routerLink="sesion" [routerLinkActive]="'activado'"><i class="bi bi-person d-inline me-1"></i>Iniciar Sesión</a>
          </ng-template>

        </li>
      </ul>
    </div>
  </div>
</nav>
