/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Regular.ttf) format("opentype");
}

:root {
  --naranja: #e28000;
  --naranja1: #F8C61F;
  --naranja2: #F8C61F;
  --gris: #467860;
  --gris1: #243B32;
  --rojo:#d80000;
}


html, body { height: 100vh;margin: 0px; }
body {  font-family: Roboto !important; }

.alerta{
  background-color: white;
  color: var(--naranja);
  height: 100px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex!important;
  border: 3px solid var(--naranja) !important;
  border-radius:6px !important;
  font-weight:bold;
  font-size: 40px !important;
}
.mat-button-wrapper {

  color: var(--naranja) !important;

}

.btn{
  background-color: var(--naranja);
  color: white;
  border: 1px solid;
  border-color: var(--naranja1);
}

.btn:hover{
  background-color: var(--naranja1);
  color: white;
}
.btn:focus {
  box-shadow: 0 0 0 0 ;
}

.errores{
  font-size: 16px;
  color: white;
  margin-top: 2%;
  background-color: var(--rojo);
  border-radius: 6px;
}

.container-fluid{
  min-height:84vh;
}
@media screen and (min-height: 1080px)  {
  .container-fluid{
    min-height:100vh;
  }

}

h1{
  color: var(--naranja);
  margin: 0px !important;
  text-align: center;
  padding: 2%;
  font-weight: bold !important;
}

h3{
  color: var(--naranja);
  text-align: center;
  margin: 0px !important;
  padding: 2%;
  font-weight: bold !important;
}
.grupoInput{
  position: relative;
}
input:focus {
  box-shadow: inset 0 0 1px var(--naranja),0 0 8px var(--naranja) !important;
}
.card:hover{
  transform: translateY(-15px) !important;
  box-shadow: 0 5px 10px var(--naranja) !important;
}
select:focus {
  box-shadow: inset 0 0 1px var(--naranja),0 0 8px var(--naranja) !important;
}
textarea:focus {
  box-shadow: inset 0 0 1px var(--naranja),0 0 8px var(--naranja) !important;
}
.grupoInput i{
  position: absolute;
  top: 10px;
  right: 40px;
}

.ocultarTabla{
  display: none;
}