/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Regular.ttf) format("opentype");
}

:root {
  --main-bg-color: #e28000;
  --naranja2: #FF9C19;
  --marron:#965500;
  --color-nav: #006196;
  --color-nav-hover:#0092E3;

}


html, body { height: 100vh;margin: 0px; }
body {  font-family: Roboto; }

.alerta{
  background-color: white;
  color: red;
  height: 100px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex!important;
  border: 3px solid red !important;
  border-radius: 20px !important;
  font-weight:bold;
  font-size: 40px !important;
}
.mat-button-wrapper {

  color: red !important;

}

.btn{
  background-color: var(--main-bg-color);
  color: white;
  border: 1px solid;
  border-color: var(--main-bg-color);
}

.btn:hover{
  background-color: var(--naranja2);
  color: white;
}
.btn:focus {
  box-shadow: 0 0 0 0 ;
}

.errores{
  color: #dc3545;
  padding-top: 1%;
  text-shadow: 1px 1px black;
}

.container-fluid{
  min-height:84vh;
}
@media screen and (min-height: 1080px)  {
  .container-fluid{
    min-height:100vh;
  }

}

h1{
  font-weight: bold;
  color: var(--main-bg-color);
  text-align: center;
  padding: 2%;
  text-shadow: 1px 1px var(--marron);
}