/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Regular.ttf) format("opentype");
}

:root {
  --main-bg-color: #e28000;
  --naranja2: #ff9800;
  --naranja3:#ffc340;
  --color-nav: #009846;
  --color-nav-hover:#48c26c;

}
body{
  font-family: Roboto;
}


